<a href="" (click)="logout()">Logout</a>

<form (ngSubmit)="submitForm(managementForm.value)" [formGroup]="managementForm" novalidate>
    <h3>Security Settings</h3>
    <label>Username:</label> <input type="email" placeholder="Enter new username" name="username"  formControlName="username"><br><br>
    <label>Password:</label> <input type="password" placeholder="********" formControlName="password"><br><br>
    <label>Confirm Password:</label> <input type="password" placeholder="********" formControlName="confirmPassword">

    <hr>

    <h3>Service Settings</h3>
    <label>Redirection:</label> <input type="text" placeholder="Redirection URL" formControlName="redirection"><br><br>
    <label>Use Static IP:</label> <input type="text" placeholder="0.0.0.0" formControlName="static_ip"><br>

    <br><br>
    <input type="submit" value="Submit">

    <p>Form status: {{ managementForm.status | json }}</p>
</form>