<div class="row">
    <div class="col">
        <div class="widget">
            <!--<messages></messages>-->

            <div class="row error-login" *ngIf="errorLogin">
                <div class="col">
                    <div class="alert alert-danger" role="alert" [routerLink]="['/pages/login']">
                        Error: You are not logged in or your token has expired!
                        <strong>Click here to login</strong>
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="success">
                <div class="col">
                    <div class="alert alert-success" role="alert">
                        Info: {{success}}
                    </div>
                </div>
            </div>
            <div class="row" *ngIf="info">
                <div class="col">
                    <div class="alert alert-info" role="alert">
                        Info: {{info}}
                    </div>
                </div>
            </div>
            <div class="row error-msg" *ngIf="error">
                <div class="col">
                    <div class="alert alert-danger" role="alert">
                        Error: {{error}}
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col">
                    <form (ngSubmit)="submitForm(managementForm.value)" [formGroup]="managementForm" novalidate>
                        <h4>Security Settings</h4>

                    <div class="security-settings">
                        <!--Username-->
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group" [ngClass]="{'has-danger': managementForm.get('username').touched && managementForm.get('username').errors, 'has-success': managementForm.get('username').touched && managementForm.get('username').valid}">
                                    <label class="form-control-label">Username</label>
                                    <input type="email" class="form-control" name="username" formControlName="username" [ngClass]="{'form-control-danger': managementForm.get('username').touched && managementForm.get('username').errors, 'form-control-success': managementForm.get('username').touched && managementForm.get('username').valid}">

                                    <p *ngIf="managementForm.get('username').touched && managementForm.get('username').errors" class="form-control-feedback text-danger">Please enter a valid username</p>
                                    <p *ngIf="managementForm.get('username').touched && managementForm.get('username').valid" class="form-control-feedback text-success">Username is valid</p>
                                    <p *ngIf="managementForm.get('username').touched && managementForm.get('username').errors" class="form-control-feedback text-danger">{{ managementForm.controls.username?.errors.remote }}</p>
                                    <p *ngIf="!managementForm.get('username').errors && response?.username?.length > 0" class="form-control-feedback text-success">{{response.username}}</p>
                                </div>
                            </div>
                        </div>

                        <!--Passwords-->
                        <div formGroupName="passwords">
                            <!--Password-->
                            <div class="col-12 col-lg-6">
                                <div class="form-group" [ngClass]="{'has-danger': managementForm.get('passwords').touched && managementForm.get('passwords').get('password').errors, 'has-success': managementForm.get('passwords').touched && managementForm.get('passwords').get('password').valid}">
                                    <label class="form-control-label">Password</label>
                                    <input type="password" class="form-control" formControlName="password"  formControlName="password" [ngClass]="{'form-control-danger': managementForm.get('passwords').touched && managementForm.get('passwords').errors, 'form-control-success': managementForm.get('passwords').touched && managementForm.get('passwords').valid}">
                                </div>
                            </div>

                            <!--Confirm Password-->
                            <div class="col-12 col-lg-6">
                                <div class="form-group" [ngClass]="{'has-danger': managementForm.get('passwords').touched && managementForm.get('passwords').errors, 'has-success': managementForm.get('passwords').touched && managementForm.get('passwords').valid}">
                                    <label class="form-control-label">Confirm Password</label>
                                    <input type="password" class="form-control" formControlName="confirmPassword" [ngClass]="{'form-control-danger': managementForm.get('passwords').touched && managementForm.get('passwords').errors, 'form-control-success': managementForm.get('passwords').touched && managementForm.get('passwords').valid}">
                                </div>

                                <p *ngIf="managementForm.get('passwords').touched && managementForm.get('passwords').errors" class="form-control-feedback text-danger">{{ managementForm.controls.passwords?.errors.remote }}</p>
                                <p *ngIf="managementForm.get('passwords').touched && !managementForm.get('passwords').errors && response?.passwords?.length > 0" class="form-control-feedback text-success">{{response.passwords}}</p>
                            </div>
                        </div>
                    </div>

                    <div class="service-settings" *ngIf="existing_service">
                        <h4>Service Settings</h4>

                        <!-- IP Group -->
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group form-inline" [ngClass]="{'has-danger': managementForm.get('ip_group').touched && managementForm.get('ip_group').errors, 'has-success': managementForm.get('ip_group').touched && managementForm.get('ip_group').valid}">
                                    <label class="form-control-label col-3">IP Group &nbsp;&nbsp;</label>
                                    <input type="email" class="form-control col-4" maxlength="3" name="ip_group" formControlName="ip_group" [ngClass]="{'form-control-danger': managementForm.get('ip_group').touched && managementForm.get('ip_group').errors, 'form-control-success': managementForm.get('ip_group').touched && managementForm.get('ip_group').valid}">&nbsp;&nbsp;

                                    <button class="btn btn-danger btn-outline btn-icon btn-sm col-4" type="button" (click)="deleteStaticIP()">
                                        <i class="sli-trash"></i>
                                        <span class="btn-text">Delete Static IP</span>
                                    </button>


                                    <p *ngIf="managementForm.get('ip_group').touched && managementForm.get('ip_group').errors" class="form-control-feedback text-danger">{{ managementForm.controls.ip_group?.errors.remote }}</p>
                                    <p *ngIf="managementForm.get('ip_group').touched && managementForm.get('ip_group').valid" class="form-control-feedback text-success">IP Group is valid. </p>
                                    <p *ngIf="managementForm.get('ip_group').touched && !managementForm.get('ip_group').errors && response?.static_ip?.length > 0" class="form-control-feedback text-success">Static IP has been updated successfully. Assigned IP: {{response.static_ip}}</p>
                                    <p *ngIf="response?.delete_staticip?.length > 0" class="form-control-feedback text-success">{{response.delete_staticip}}</p>
                                </div>
                            </div>
                        </div>

                        <!-- Wall Garden -->
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group form-inline" [ngClass]="{'form-control-danger': managementForm.get('garden').touched && managementForm.get('garden').errors, 'form-control-success': managementForm.get('garden').touched && managementForm.get('garden').valid}">
                                    <label class="form-control-label col-3">Wall Garden</label>

                                    <div class="col-5">
                                        <select class="custom-select" formControlName="garden" formControlName="garden">
                                            <option value="" selected>Select Garden</option>
                                            <option value="credit_prepaid">Prepaid Garden</option>
                                            <option value="credit_postpaid">Postpaid Garden</option>
                                            <option value="credit">Credit Garden</option>
                                        </select>&nbsp;
                                    </div>

                                    <button class="btn btn-danger btn-outline btn-icon btn-sm col-4" type="button" (click)="deleteGarden()">
                                        <i class="sli-trash"></i>
                                        <span class="btn-text">Delete Garden</span>
                                    </button>

                                    <p *ngIf="managementForm.get('garden').touched && managementForm.get('garden').errors" class="form-control-feedback text-danger">{{ managementForm.controls.garden?.errors.remote }}</p>
                                    <p *ngIf="!managementForm.get('garden').errors && response?.garden?.length > 0" class="form-control-feedback text-success">{{response.garden}}</p>
                                    <p *ngIf="response?.delete_garden?.length > 0" class="form-control-feedback text-success">{{response.delete_garden}}</p>
                                </div>
                            </div>
                        </div>

                        <!-- Shaping -->
                        <div class="row">
                            <div class="col-12 col-lg-6">
                                <div class="form-group form-inline" [ngClass]="{'form-control-danger': managementForm.get('shape').touched && managementForm.get('shape').errors, 'form-control-success': managementForm.get('shape').touched && managementForm.get('shape').valid}">
                                    <label class="form-control-label col-3">Shape Service:</label>

                                    <div class="col-5">
                                        <select class="custom-select" formControlName="shape">
                                            <option value="">Select Shape</option>
                                            <option value="level_one">Level One</option>
                                            <option value="level_two">Level Two</option>
                                            <option value="exceed_usage">Exceed Usage</option>
                                            <option value="penalty">Penalty</option>
                                        </select>&nbsp;
                                    </div>

                                    <button class="btn btn-danger btn-outline btn-icon btn-sm col-4" type="button" (click)="deleteShape()">
                                        <i class="sli-trash"></i>
                                        <span class="btn-text">Delete Shape</span>
                                    </button>

                                    <p *ngIf="managementForm.get('shape').touched && managementForm.get('shape').errors" class="form-control-feedback text-danger">{{ managementForm.controls.shape?.errors.remote }}</p>
                                    <p *ngIf="!managementForm.get('shape').errors && response?.shape?.length > 0" class="form-control-feedback text-success">{{response.shape}}</p>
                                    <p *ngIf="response?.delete_shape?.length > 0" class="form-control-feedback text-success">{{response.delete_shape}}</p>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col">
                                <div class="form-group">
                                    <label class="custom-control custom-checkbox form-control-label">
                                        <span class="custom-control-description">Check to Kick user then submit</span>
                                        <input type="checkbox" class="custom-control-input" formControlName="kick_user">
                                        <span class="custom-control-indicator"></span>
                                    </label>

                                    <p *ngIf="managementForm.get('kick_user').touched && managementForm.get('kick_user').errors" class="form-control-feedback text-danger">{{ managementForm.controls.kick_user?.errors.remote }}</p>
                                    <p *ngIf="!managementForm.get('kick_user').errors && response?.kick_user?.length > 0" class="form-control-feedback text-success">{{response.kick_user}}</p>
                                </div>
                            </div>
                        </div>
                    </div> <!-- end service settings -->


                        <div class="row">
                            <div class="col">
                                <input type="submit" value="Submit" class="btn btn-primary" [disabled]="managementForm.controls.garden?.errors && managementForm.controls.ip_group?.errors">
                            </div>
                        </div>
                        <!--<p>Form status: {{ managementForm.status | json }}</p>-->
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


